@model List<Alkemy_Proyect_1.Models.ViewModels.ListTeachersViewModel>
@{
    ViewBag.Title = "List of Teachers";
}

<h2>@ViewBag.Title</h2>
<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Teachers/AddNew" class="btn btn-primary">ADD NEW </a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Dni</th>
                <th>Active</th>
                <th>Options</th>
            </tr>
            @foreach (var index in Model)
            {
            <tr>
               <td>@index.Id</td>
               <td>@index.Name</td>
               <td>@index.Lastname</td>
               <td>@index.Dni</td>
               <td>@index.Active</td>
               <td>
                   <a class="btn btn-default" href="~/Teachers/Edit/@index.Id">EDIT</a>
                   <a class="btn btn-danger" href="~/Teachers/Delete/@index.Id">DELETE</a>
               </td>
            </tr>
            }
        </table>

    </div>
</div>