@model List< Alkemy_Proyect_1.Models.ViewModels.ListInscriptionsViewModel>
@{
    ViewBag.Title = "List of Inscriptions";
}

<h2>@ViewBag.Title</h2>
<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Inscriptions/AddNewInscription" class="btn btn-primary">ADD NEW </a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Student</th>
                <th>Teacher</th>
                <th>Subject</th>
                <th>Schedule</th>
            </tr>
            @foreach (var index in Model)
            {
        <tr>
            <td>@index.Id</td>
            <td>@index.StudentName</td>
            <td>@index.TeacherName</td>
            <td>@index.SubjectName</td>
            <td>@index.ScheduleSubject</td>
            <td>
                <a class="btn btn-default" href="~/Inscriptions/EditInscription/@index.Id">EDIT</a>
                <a class="btn btn-danger" href="~/Inscriptions/DeleteInscription/@index.Id">DELETE</a>
            </td>
        </tr>
            }
        </table>

    </div>
</div>

